/* Reset all margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.app-container {
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%; /* Full width */ 
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto;
}


/* Scrollbar styling */
.app-container::-webkit-scrollbar {
  width: 10px;
}

.app-container::-webkit-scrollbar-thumb {
  background-color: #61baa8;
  border-radius: 10px;
}

.app-container::-webkit-scrollbar-thumb:hover {
  background-color: #46ac97;
}

.app-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}