.page {
    position:fixed;
    width: 100vw;
    bottom: 0;
    left:0;
    height: 88vh;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    background: linear-gradient(to right, #ef6e6e32, #46ac9848);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;  
    
    overflow-y: auto; 
  }
  
  .page::-webkit-scrollbar {
    width: 10px; 
  }
  
  .page::-webkit-scrollbar-thumb {
    background-color: #61baa8; 
    border-radius: 10px;
  }
  
  .page::-webkit-scrollbar-thumb:hover {
    background-color: #46ac97;
  }
  
  .page::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
  }