
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.281);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  padding: 50px;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
}

.elf-image {
  display: block;
  width: 90px;
  height: auto;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  color: #46ac97;
  margin-bottom: 20px;
}

.inputs {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group label {
  margin-left: 10px;
  font-size: 14px;
  color: #46ac97;
}

.input-group input {
  width: 350px;
  height: 35px;
  margin-top: 5px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #ffffffd5;
  font-family: 'Comfortaa', sans-serif;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.login-button {
  width: 350px;
  padding: 10px;
  background-color: #46ac97;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.login-button:hover {
  background: #ef6e6e;
  color: #ffffff;
}

.role-buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
   
  margin-bottom: 15px;
}

.role-buttons button {
  width: 165px;
  padding: 10px;
  font-size: 16px;
  background-color: #f0f0f0; 
  font-family: 'Comfortaa', sans-serif;
  border: 1px solid #ccc;
  color: #46ac97;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.role-buttons button.selected {
  background-color: #ef6e6e;
  color: white;
}
