<div class="page">
    <div class="container">

      <div class="info-container">
        <img src="assets/gift-bag.png" alt="Silent Santa Icon" class="info-image" />
        <div class="info-text">
          <h1>What is Silent Santa?</h1>
          <p>
            Silent Santa is a platform that brings joy during the holiday season. It allows
            you to help children fulfill their Christmas wishes by preparing a gift from their
            heartfelt letters.
          </p>
        </div>
      </div>
  
      <div class="info-container">
        <div class="info-text">
          <h1>Roles of the Community</h1>
          <p><strong>GIVER:</strong>  user who volunteers to prepare the gift based on a specific child's letter.</p>
          <p><strong>HELPER:</strong>  user who posts and manages the children's letters, ensuring their wishes are fulfilled.</p>
        </div>
        <img src="assets/gift.png" alt="Elf Icon" class="info-image" />
      </div>
    </div>
  </div>
  