.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(to right,  #ef6e6e74,#46ac985c);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    color: white;
    margin-bottom: 20px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 14px;
    color: white;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #46ac97;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background: #ef6e6e;
    color: #ffffff;
  }
  
  .signup-link {
    margin-top: 15px;
    color: white;
  }
  
  .signup-link a {
    color: #ef6e6e;
    text-decoration: none;
    font-weight: bold;
  }
  .signup-link:hover a {
    color: #46ac97;
    text-decoration: none;
    font-weight: bold;
  }